<main @pageTransition class="min-h-screen flex flex-col items-center justify-center gap-6 p-4">

  <h2 class="text-2xl font-bold">Créer un compte</h2>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full max-w-sm"
  >

  <app-ui-messages placement="default"/>
      
    <div class="flex flex-col gap-1">
      <label class="font-medium">Nom d'utilisateur</label>
      <input
        type="text"
        formControlName="username"
        class="border border-gray-300 rounded p-2"
      >
      @if (form.controls.username.touched && form.controls.username.invalid) {
        <p class="text-orange-500 text-sm h-4">Le nom est obligatoire</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-medium">Email</label>
      <input
        type="email"
        formControlName="email"
        class="border border-gray-300 rounded p-2"
      >
      @if (form.controls.email.touched && form.controls.email.hasError('required')) {
        <p class="text-orange-500 text-sm">L'email est obligatoire</p>
      } @else if (form.controls.email.touched && form.controls.email.hasError('email')) {
        <p class="text-orange-500 text-sm">Le format de l'email est invalide</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-medium">Mot de passe</label>
      <input
        type="password"
        formControlName="password"
        class="border border-gray-300 rounded p-2"
      >
      @if (form.controls.password.touched && form.controls.password.hasError('required')) {
        <p class="text-orange-500 text-sm">Le mot de passe est obligatoire</p>
      }
      @else if (form.controls.password.touched && form.controls.password.hasError('minlength')) {
        <p class="text-orange-500 text-sm">Le mot de passe doit contenier au moins 12 caractères</p>
      }
      @else if (form.controls.password.touched && form.controls.password.hasError('pattern')) {
        <p class="text-orange-500 text-sm">Le mot de passe doit contenir au moins un caractère spécial</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-medium">Confirmation du mot de passe</label>
      <input
        type="password"
        formControlName="confirm"
        class="border border-gray-300 rounded p-2"
      >
      
        @if (form.hasError('passwordMismatch') && form.controls.confirm.touched) {
            <p class="text-orange-500 text-sm">Les mots de passe ne correspondent pas</p>
        }
    </div>

    <button
      [disabled]="ui.isLoading()"
      type="submit"
      class="px-6 py-3 bg-green-600 text-white rounded hover:bg-green-700 transition"
    >
      S'inscrire
    </button>

    <a routerLink="/" class="text-green-600 underline text-center hover:cursor-pointer">Retour à l'accueil</a>
  </form>
</main>
