<div class="flex flex-col gap-4 mb-6 sm:flex-row sm:justify-between sm:items-center">
  <h1 class="text-2xl md:text-3xl font-bold text-text">
    Ingrédients
  </h1>

  <app-ui-button (click)="goCreate()">
    + Ajouter un ingrédient
  </app-ui-button>
</div>

<!-- Filtres -->
<div class="flex flex-col gap-4 mb-6">

  <label for="name" class="text-sm font-medium text-text">
    Rechercher un ingrédient :
  </label>

  <div class="flex flex-col gap-2 sm:flex-row sm:items-center">

    <input
      type="text"
      id="name"
      class="w-full sm:max-w-md border border-gray-300 rounded-lg px-3 py-2
             text-text bg-surface
             focus:outline-none focus:border-primary
             focus:ring-2 focus:ring-primary/20"
      placeholder="Rechercher par nom..."
      [value]="search()"
      (input)="search.set($any($event.target).value)"
    />

    <select
      class="w-full sm:w-auto border border-gray-300 rounded-lg px-3 py-2
             text-text bg-surface
             focus:outline-none focus:border-primary
             focus:ring-2 focus:ring-primary/20"
      [value]="selectedUnit()"
      (change)="selectedUnit.set($any($event.target).value)"
    >
      <option value="">Toutes les unités</option>

      @for (u of units(); track u) {
        <option [value]="u">
          {{ u.toLowerCase() }}
        </option>
      }
    </select>

    <button
      type="button"
      (click)="resetFilter()"
      class="text-text-muted hover:text-danger transition cursor-pointer
             self-start sm:self-auto"
      title="Réinitialiser les filtres"
    >
      <svg class="w-6 h-6" viewBox="0 0 16 16" fill="currentColor">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M4.22 4.22a.75.75 0 0 1 1.06 0L8 6.94l2.72-2.72a.75.75 0 1 1 1.06 1.06L9.06 8l2.72 2.72a.75.75 0 1 1 1.06 1.06L8 9.06l-2.72 2.72a.75.75 0 1 1-1.06-1.06L6.94 8 4.22 5.28a.75.75 0 0 1-1.06-1.06"
        />
      </svg>
    </button>

  </div>

</div>

<!-- Liste des ingrédients -->
<div class="flex flex-col gap-4">

  @for (i of filteredIngredients(); track i.id) {

    <app-ingredient-card
      [ingredient]="i"
      [units]="units()"
      (delete)="delete($event)"
      (updated)="loadIngredients()"
    />

  }

</div>