@if (recipe() !== null) {
  <div>
    <h1 class="text-2xl font-bold">{{ recipe()!.name }}</h1>
    <p class="text-gray-600">{{ recipe()!.description }}</p>

    <div class="flex items-center gap-3 mt-4">
        <p>Pour combien de personnes ?</p>
      <button class="px-3 py-1 bg-gray-200 rounded border-2 border-blue-600 hover:scale-110 transition-all duration-300"
              (click)="servings.update(s => s > 1 ? s - 1 : 1)">-</button>

      <span class="text-lg font-semibold">{{ servings() }}</span>

      <button class="px-3 py-1 bg-gray-200 rounded border-2 border-blue-600 hover:scale-110 transition-all duration-300"
              (click)="servings.update(s => s + 1)">+</button>

    </div>

    <h2 class="text-xl font-semibold mt-6">Ingrédients</h2>

    @if (ingredientsWithTotal().length > 0) {
        <ul class="mt-2 space-y-1">
            @for (ing of ingredientsWithTotal(); track ing.id) {
            <li>
                <strong>{{ ing.ingredient.name }}</strong> :
                {{ ing.total }} {{ ing.unit.toLocaleLowerCase() }}
            </li>
            }
        </ul>

        <div class="flex h-20 items-center gap-4">
          <button class="mt-4 px-4 py-2 bg-green-600 text-white rounded"
              (click)="addToShoppingList()">
              Ajouter à la liste de courses
          </button>

          @if (ui.successMessage()) {
            <p class="mt-4 px-4 py-2 bg-green-600 text-white rounded">
              {{ ui.successMessage() }}
            </p>
          }

          @if (ui.errorMessage()) {
            <p class="mt-4 px-4 py-2 bg-red-600 text-white rounded">
              {{ ui.errorMessage() }}
            </p>
          }
        </div>
    } @else {
      <p>Aucun ingrédient trouvé</p>
    }
  </div>
} @else {
  <p>Aucune recette ne correspond</p>
}
