@if (list()) {

  <h1 class="text-2xl font-bold mb-4">
    Liste #{{ list()!.id }}
  </h1>
 
  <div class="mb-6 flex items-center justify-between">
    <div class="flex items-center gap-2">
      <label class="block text-lg font-semibold">Changer le statut :</label>
      <select #selectStatus
        class="border p-2 rounded bg-white shadow-sm cursor-pointer
              focus:outline-none focus:ring-2 focus:ring-blue-500"
        [value]="list()!.status"
        (change)="updateStatus(selectStatus.value)"
      >
        <option value="EN_COURS">En cours</option>
        <option value="VALIDE">Validée</option>
        <option value="ARCHIVE">Archivée</option>
      </select>

      <app-ui-messages placement="status"/>
    </div>
    <div class="flex gap-2">
      <app-ui-messages placement="delete"/>
        
      <button
        class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition hover:cursor-pointer"
        (click)="deleteList()"
      >
        Supprimer
      </button>
  
    </div>
  </div>
  <div class="grid grid-cols-2 gap-6">
    <!-- Colonne gauche : ingrédients -->
    <div>
      <h2 class="text-xl font-semibold mb-2">Ingrédients</h2>
      @if (list()!.items.length > 0) {
        <ul class="space-y-2">
          @for (item of sortedItems(); track item.ingredientId) {
            <li class="border p-2 rounded">
              <strong>{{ item.ingredientName }}</strong> :
              {{ item.totalQuantity }} {{ item.unit }}
            </li>
          }
        </ul>
      } @else {
        <p class="text-gray-600">Aucun ingrédient.</p>
      }
    </div>
    <!-- Colonne droite : recettes -->
    <div>
      <h2 class="text-xl font-semibold mb-2">Recettes</h2>
      @if (list()!.recipes.length > 0) {
        <ul class="space-y-2">
          @for (r of list()!.recipes; track $index) {
            <li class="border p-2 rounded flex justify-between items-center">
              <div>
                <strong>{{ r.recipeName }}</strong>
                — {{ r.servings }} pers.
              </div>
            </li>
          }
        </ul>
      } @else {
        <p class="text-gray-600">Aucune recette.</p>
      }
    </div>
  </div>
} @else {
  <p>Erreur lors dela recupération des listes...</p>
}
