<div class="flex justify-between items-center mb-4">
  <h1 class="text-2xl font-bold">Recettes</h1>

  <button
    class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all duration-300"
    (click)="goCreate()"
  >
    + Ajouter une recette
  </button>
</div>

<div class="space-y-4">
  @for (recipe of recipes(); track recipe.id) {
    <div 
        class="flex justify-between border-2 border-white p-4 bg-white shadow rounded hover:cursor-pointer hover:border-blue-600 transition-all duration-300"
        (click)="goToRecipe(recipe.id)"
    >
      <div>
        <div class="flex gap-2 mb-2">
          <h2 class="text-lg font-semibold">{{ recipe.name }}</h2>
          @if (isAdded(recipe.id)) {
            <span class="bg-blue-600 text-white text-xs px-2 py-1 rounded">
              Déjà Ajoutée pour : {{ addedServing(recipe.id) }} pers
            </span>
          }
        </div>
        <p class="text-gray-600">{{ recipe.description }}</p>
      </div>
        <button
              class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 self-center"
              (click)="delete(recipe.id); $event.stopPropagation()"
            >
              X
        </button>
    </div>
  }
</div>
