<div class="flex justify-center py-6">
    <div class="w-full max-w-3xl bg-white p-6 rounded-lg shadow">

        <!-- Titre -->
        <h1 class="text-2xl font-bold mb-6 text-center">
            Modifier la recette : {{ form.get('name')?.value }}
        </h1>

        <!-- Formulaire -->
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="space-y-6"
        >
            <!-- Nom -->
            <div>
                <label class="font-semibold">Nom</label>
                <input 
                    type="text" 
                    formControlName="name"
                    class="border p-2 w-full rounded"
                >
            </div>

            <!-- Description -->
            <div>
                <label class="font-semibold">Description</label>
                <textarea 
                    formControlName="description"
                    class="border p-2 w-full rounded"
                ></textarea>
            </div>

            <!-- Portions -->
            <div>
                <label class="font-semibold">Portions</label>
                <input 
                    type="number"
                    min="1"
                    formControlName="servings"
                    class="border p-2 w-full rounded"
                >
            </div>
            
                <div class="flex justify-between">
                    <!-- Ingrédients -->
                    <div>
                        <h2 class="text-xl font-bold mt-8">
                            Ingrédients de la recette
                        </h2>
                        <span class="text-gray-500 text-sm">(quantité pour 1 personne)</span>
                        <div>
                            @for (ing of updateIngredients(); track $index) {
                            <div class="flex items-center justify-between gap-2 border p-4 rounded mb-3">
                                <div class="flex gap-2 items-center">
                                    <!-- Nom + ID -->
                                    <div class="font-semibold">
                                        <span>{{ ing.ingredientName }}  </span>
                                    </div>

                                    <!-- Quantité -->
                                    <input 
                                        type="number"
                                        class="border p-2 w-24 rounded"
                                        [value]="ing.quantityPerPerson"
                                        (input)="onQuantityChange($index, $event)"
                                    >

                                    <!-- Unité -->
                                    <span class="text-gray-700">{{ ing.unit }}</span>
                                </div>
                                <!-- Bouton supprimer -->
                                <button
                                    type="button"
                                    class="text-red-600 underline hover:text-red-800 ml-4"
                                    (click)="removeIngredient(ing.id!)"
                                >
                                    Supprimer
                                </button>

                            </div>
                            }

                        </div>
                    </div>
                    <div>
                        <h2 class="text-xl font-bold mt-8 mb-4">Ajouter un ingrédient</h2>
                        <div class="flex gap-3 items-center">
                            <select
                                class="border p-2 rounded"
                                (change)="onSelectIngredient($event)"
                            >
                                <option value="">-- Choisir un ingrédient --</option>

                                @for (ing of allIngredients(); track $index) {
                                    <option [value]="ing.id">
                                        {{ ing.name }} ({{ ing.unit }})
                                    </option>
                                }
                            </select>
                            <button
                                type="button"
                                class="bg-green-600 text-white px-3 py-1 rounded"
                                (click)="addIngredientFromDb()"
                            >
                                Ajouter
                            </button>
                        </div>
                    </div>
                </div>

                <div class="flex items-start gap-4 mt-4">
                    <div class="flex flex-col gap-2 w-1/3">
                        <button
                            type="submit"
                            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition cursor-pointer"
                        >
                            Mettre à jour
                        </button>

                        <button
                            type="button"
                            (click)="goToRecipe()"
                            class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition cursor-pointer"
                        >
                            Annuler
                        </button>
                    </div>

                    <!-- Messages UI à côté -->
                    <div class="flex-1">
                        <app-ui-messages></app-ui-messages>
                    </div>
                </div>
        </form>
    </div>
</div>
