<header class="bg-white shadow p-4 flex justify-around items-center">
  <h1 class="text-xl font-semibold text-text">Shopping Recipes</h1>

  <nav class="flex items-center gap-1">
    <app-ui-link (click)="goIngredients()">Ingredients</app-ui-link>
    <app-ui-link (click)="goRecipes()">Recettes</app-ui-link>
    <app-ui-link (click)="goShoppingList()">Liste de course <span>({{ shoppingList().length }})</span></app-ui-link>
    <app-ui-link (click)="goSavedLists()">Mes listes<span>({{ savedLists().length }})</span></app-ui-link>

    @if (isFetching()) {
      <p class="bg-green-700 font-medium text-white px-2 py-1 rounded-2xl">
        Déconnexion en cours ...
      </p>
    } @else {
      <app-ui-button>Logout</app-ui-button>
    }
  </nav>
</header>
