<main class="min-h-screen flex flex-col items-center justify-center gap-6 p-4">

  <h2 class="text-2xl font-bold">Connectez-Vous</h2>

  <!-- @if (isFetching()) {
    <p class="bg-green-700 text-white px-2 py-1 rounded-2xl"> Connexion en cours ...</p>
  }
  @if (loginErr()) {
    <p class="bg-red-700 text-white px-2 py-1 rounded-2xl"> Erreur lors de la Connexion ...</p>
  } -->
  
  @if(ui.isLoading()){
    <div class="flex flex-col gap-2">
      @if (ui.isLoading()) {
        <p class="bg-green-700 text-white text-center px-2 py-1 rounded-2xl">
          Connexion en cours...
        </p>
      }

      @if (ui.successMessage()) {
        <p class="bg-green-700 text-white px-2 py-1 rounded-2xl">
          {{ ui.successMessage() }}
        </p>
      }

      @if (ui.errorMessage()) {
        <p class="bg-red-700 text-white px-2 py-1 rounded-2xl">
          {{ ui.errorMessage() }}
        </p>
      }
    </div>
  }
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full max-w-sm"
  >

    <div class="flex flex-col gap-1">
      <label class="font-medium">Email</label>
      <input
        type="email"
        formControlName="email"
        class="border border-gray-300 rounded p-2"
      >
      @if (form.controls.email.touched && form.controls.email.hasError('required')) {
        <p class="text-orange-500 text-sm">L'email est obligatoire</p>
      } @else if (form.controls.email.touched && form.controls.email.hasError('email')) {
        <p class="text-orange-500 text-sm">Le format de l'email est invalide</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label class="font-medium">Mot de passe</label>
      <input
        type="password"
        formControlName="password"
        class="border border-gray-300 rounded p-2"
      >
      @if (form.controls.password.touched && form.controls.password.hasError('required')) {
        <p class="text-orange-500 text-sm">Le mot de passe est obligatoire</p>
      }
      @else if (form.controls.password.touched && form.controls.password.hasError('minlength')) {
        <p class="text-orange-500 text-sm">Le mot de passe doit contenier au moins 12 caractères</p>
      }
      @else if (form.controls.password.touched && form.controls.password.hasError('pattern')) {
        <p class="text-orange-500 text-sm">Le mot de passe doit contenir au moins un caractère spécial</p>
      }
    </div>

    <button
      type="submit"
      class="px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-700 hover:cursor-pointer"
    >
      Se connecter
    </button>

    <a routerLink="/" class="text-blue-600 underline text-center hover:cursor-pointer">Retour à l'accueil</a>

  </form>

</main>
