<main class="min-h-screen flex flex-col items-center justify-center gap-6 p-4 bg-background">
  <div class="fixed top-22 left-1/2 -translate-x-1/2 z-50">
    <app-ui-messages></app-ui-messages>
  </div>

  <div class="w-full max-w-md bg-white rounded-xl shadow-md p-6 md:p-8">
    <h2 class="text-2xl font-bold text-text text-center mb-6">
      Connectez-Vous
    </h2>

    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-5 w-full"
    >
      <div class="flex flex-col gap-1">
        <label class="font-medium text-text">
          Email
        </label>
        <input 
          type="email"
          formControlName="email"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 text-text bg-surface
          focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary/20"
        />
        @if (form.controls.email.touched && form.controls.email.hasError('required')) {
          <p class="text-danger text-sm">
            L'email est obligatoire
          </p>
        } @else if (form.controls.email.touched && form.controls.email.hasError('email')) {
          <p class="text-danger text-sm">
            Le format de l'email est invalide
          </p>
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="font-medium text-text">
          Mot de passe
        </label>
        <input
          type="password"
          formControlName="password"
          class="w-full border border-gray-300 rounded-lg px-3 py-2 text-text bg-surface
          focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary/20"
        />
        @if (form.controls.password.touched && form.controls.password.hasError('required')) {
          <p class="text-danger text-sm">
            Le mot de passe est obligatoire
          </p>
        } @else if (form.controls.password.touched && form.controls.password.hasError('minlength')) {
          <p class="text-danger text-sm">
            Le mot de passe doit contenir au moins 12 caractères
          </p>
        } @else if (form.controls.password.touched && form.controls.password.hasError('pattern')) {
          <p class="text-danger text-sm">
            Le mot de passe doit contenir au moins un caractère spécial
          </p>
        }
      </div>
      <div class="flex justify-between items-center">
        <app-ui-button
          [disabled]="ui.isLoading()"
          type="submit"
        >
          Se connecter
        </app-ui-button>
        <app-ui-link routerLink="/">Retour à l'accueil</app-ui-link>
      </div>
    </form>
  </div>
</main>